@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Be Vietnam Pro', sans-serif;
	text-rendering: optimizeLegibility;
}

.toTopButton {
	position: fixed;
	right: 0;
	bottom: 0;
}


.imgContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	/* border: 3px solid black; */
}